.container {
    max-width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: #f0f0f0;
    border-radius: 20px;
    text-align: center;
    margin-top: 50px;
}

/* Media query for smaller screens */
@media (max-width: 768px) {
    .container {
        width: 90%;
        max-width: none;
    }
}
  
.book-list-title {
    font-size: 30px;
    margin-bottom: 10px;
}

.book-list {
    list-style: none;
    padding: 0;
}

.book-item {
    background-color: #f8f8f8;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    padding: 10px;
}

.book-item:hover {
    transform: scale(1.02);
}

.book-item-title {
    font-size: 16px;
    font-weight: bold;
}

.form-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}
  
.form-button:hover {
    background-color: #0056b3;
}

.book-form-container {
    width: 50%;
    margin: auto;
}

.book-form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}

.book-form label {
    margin-bottom: 8px;
}

.book-form input,
.book-form textarea,
.book-form select {
    margin-bottom: 16px;
    padding: 8px;
    font-size: 14px;
}

.save-changes-button {
    background-color: #41d62d;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
  }
  
.save-changes-button:hover {
    background-color: #447913;
}

.delete-button {
    background-color: #dc3545;
    color:
 #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}
  
.delete-button:hover {
    background-color: #c82333;
}

.change-button {
    background-color: #692c0293;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    margin: 5px;
}

.change-button:hover {
    background-color: #722f0354;
}